
html {position: relative; min-width: 767px; min-height: 100%;}

body {
	position: static; height: auto; font: normal 14px/1.5 Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,.8); background-color: white;
}

#header .container-fluid {padding: 0;}
main .container-fluid, #footer .container-fluid {max-width: 1800px;}

/* :: Header 
===================================================================================================== :: */

#header {
	position: fixed; top: 0; left: 0; right: 0; z-index: 990; width: 100%; min-height: 48px; 
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
}

#header .level-1 a {display: inline-block; min-width: 72px; text-decoration: none;}

#header .level-1 > .container-fluid > div > a {line-height: 60px;}

.header-btn {height: 60px; line-height: 58px; padding-left: 1.5em; padding-right: 1.5em; border-style: solid; border-width: 0 1px;}

.logged-in .login-btn svg * {stroke: #0b6c63;}
.logged-in .login-btn:hover svg * {stroke: #fff;}

/* :: Meta :: */

/* :: Login bar :: */

.login {float: right; height: 60px;}
	.login-btn {position: relative; padding-left: 50px;}
		.login-btn i {position: absolute; top: 0; left: 1.25em; opacity: .5;}
		.login-btn:hover i {opacity: 1;}
	
		.logged-in .header-btn {float: left; font-weight: bold;}
		#header .logged-in .login-btn {padding-left: 60px; text-align: left;}
			.logged-in .login-btn span {width: 100%; line-height: 1.2em;}
			.logged-in .login-btn .company {font-weight: normal; text-transform: uppercase; font-size: .8em;}

.site-logo {height: 60px;}
	.site-logo a {display: inline-block; padding: 0 10px; text-decoration: none;}
		.site-logo i {float: left; margin-right: 1.5em;}
			.site-logo img {max-width: 48px;}
		.site-logo h2 {float: left; margin-bottom: 0; padding-top: 15px; font-size: 1.4rem; line-height: 1.1rem;}
			.site-logo h2 small {display: inline-block; font-size: .85rem;}

/* :: Navigations 
===================================================================================================== :: */

#site .nav-collapse {display: none;}

/* :: Main Navigation :: */

.site-nav {margin: 0 0 1.5em; text-align: center;}
	.site-nav ul {list-style: none; margin: 0;}
		.site-nav > ul > li {margin: 0; display: inline-block; text-align: left; line-height: 48px;}
			.site-nav a {display: block; padding: 0 1.2em; position: relative; text-decoration: none;}
			.site-nav > ul > li > a {text-transform: uppercase; font-weight: bold;}
			:root .site-nav > ul > .active > a {box-shadow: 0 -4px 4px rgba(0,0,0,.2); text-shadow: none;}
			.site-nav > ul > li:hover > a {text-shadow: 0 0 2px rgba(0,0,0,.5);}
			.site-nav > ul > .active > a:before {
				content: ""; position: absolute; top: -4px; left: 0;
				display: block; width: 100%; height: 4px;
			}			

/* :: Sub navigation :: */

.sub-menu {position: relative;}

	.sub-menu > a {display: inline-block;}
	
		.nav-x ul {position: absolute;}
		.nav-x ul, 
		.nav-x.sub-menu-click .sub-menu:hover > .sub-menu-wrapper,
		.sub-menu-click .nav-x .sub-menu:hover > .sub-menu-wrapper {visibility: hidden; opacity: 0;}
		
		.nav-x .sub-menu-wrapper {
			position: absolute; top: 100%; left: 0; z-index: 900;
			visibility: hidden; opacity: 0;
			width: 220px; margin: 0; padding: 0; list-style: none; 
			border: 1px solid; box-shadow: 0 10px 14px -6px rgba(0,0,0,.2);
		}
		
		.nav-x .sub-menu-wrapper li ul {top: 0; left: 100%; margin: 0;}
		
			.nav-x .sub-menu li {float: none; margin: 0; padding: 0; text-align: left;}
				
			.nav-x.sub-menu-click .sub-menu.on > .sub-menu-wrapper,
			.sub-menu-click .nav-x .sub-menu.on > .sub-menu-wrapper, 
			.nav-x .sub-menu:hover > .sub-menu-wrapper {visibility: visible; opacity: 1;}
			
				.nav-x .sub-menu li a {
					display: block; float: none; padding: 1em 1.2em; 
					font-size: 1em; line-height: 1.286em;
					background: none;
					border-style: solid; border-width: 1px 0 0; border-color: transparent;
					cursor: pointer;
				}
				.nav-x .sub-menu li:first-child a {border-top-width: 0;}
				.nav-x .sub-menu li a:hover {background-color: #f2f2f2;}

/* :: Tabs :: */

.tabs {margin-bottom: 1.5em; border-bottom: 2px solid;}
	.tabs ul {list-style: none; margin: 0; text-align: center;}
		.tabs li {display: inline-block; margin: 0;}
			.tabs ul > li > a {
				position: relative; display: block; padding: .7em 1em; text-decoration: none; 
				border-style: solid; border-width: 2px; border-bottom: 0; border-color: transparent;
			}
			.tabs .active > a {font-weight: bold;}
			.tabs .active > a:before {
				content: ""; position: absolute; left: 0; bottom: -2px;
				display: block; width: 100%; height: 2px;
			}

/* :: Main and Content 
===================================================================================================== :: */

main {padding-top: 84px;}

main > .container-fluid {padding-bottom: 1.5em;}

	/*.content {padding-top: 1em;}*/

	.btn .icon-add-doc {
		position: absolute; top: 0; left: 0;
		display: block; width: 48px; height: 100%; padding-top: .3em;
	}
	
	.custom-file-input, .input-group-text {height: 35px;}

/* :: Index items :: */

.index-items {margin: 2.5em 0; overflow: hidden;}
	.index-items h4 {margin-bottom: 24px; padding: 1.2em; font-size: 1.25rem;}

.index-items .login-bar {padding: 12%;}

/* :: Form items :: */

.main-heading {margin-bottom: 1em;}

.form-items section {margin-bottom: 24px; padding: 48px; padding-bottom: 30px;}
	.form-items section > h3:first-child {margin: -48px 0 40px -48px;}
		.form-items section > h3:first-child span {display: inline-block; padding: .8em 1.3em; font-size: .65em;}
		
		.form-items h6 {margin-bottom: 1.5em; font-size: 1em;}
		
		.form-items .col, .form-items .row > div {margin-bottom: 1.5em;}
		
		input[type="checkbox"], input[type="radio"] {display: inline-block; width: 18px; height: 18px; margin-right: 10px; padding: 2px; color: #666;}
		input[type="checkbox"] {background-color: #f7f7f7;}
		input[type="radio"] {width: 16px; height: 16px; border-radius: 50%;}
		
		.form-check {padding-left: 1.7rem;}
		.form-check-input {margin-left: -1.7rem;}

/* :: Separator :: */

span.sep-line {
	display: inline-block; width: 1px; margin: 0 .8em; 
	text-indent: 100%; white-space: nowrap; overflow: hidden; vertical-align: middle;
	border-left: 1px solid rgba(0,0,0,.2);
}
span.sep-text {display: inline-block; margin: 0 .8em;}

span.sep-line.size-xxs, span.sep-text.size-xxs {margin: 0 .1em; line-height: .8em;}
span.sep-line.size-xs, span.sep-text.size-xs {margin: 0 .2em; line-height: .8em;}
span.sep-line.size-s, span.sep-text.size-s {margin: 0 .4em; line-height: 1.1em;}
span.sep-line.size-l, span.sep-text.size-l {margin: 0 1.6em; line-height: 2.4em;}
span.sep-line.size-xl, span.sep-text.size-xl {margin: 0 3.2em; line-height: 3.42em;}

/* :: Side Bar 
===================================================================================================== :: */

main .container-fluid, #footer .container-fluid {padding: 0 24px 0 96px; overflow: hidden;}
	
	.side-bar {position: fixed; width: 72px; height: 100%; z-index: 980; padding-top: 60px; top: 0; left: 0; font-size: .9em;}
	
		.side-bar .inner {height: 100%; padding: 0 0 24px; box-sizing: border-box;}
		
			.side-bar ul {
				height: 100%; list-style: none; margin: 0; padding: 0; overflow: auto;
			}
				.side-bar li {margin: 0;}
					.side-nav a {
						display: block; padding: 1.1em .5em; text-decoration: none; text-align: center;
						border-bottom: 1px solid;
					}
					.side-nav .active a {font-weight: bold;}

/* :: Footer
===================================================================================================== :: */

.sticky-footer #footer {
	position: absolute; left: 0; bottom: 0; width: 100%; font-size: .9em; text-align: center; 
	border-top: 1px solid; cursor: default;
}
	#footer > div {padding: 1.5rem 0 .5rem;}
		#footer p {max-width: 920px; margin-left: auto; margin-right: auto;}
		#footer .flag {padding: 0 1.5em 1.5em;}
			#footer .title {display: block; font-size: .7em;}


/* :: Special Classes and styling
===================================================================================================== :: */

/* :: Columns 
===================================================================================================== :: */

.col-100 {width: 100%;}
.col-90 {width: 90%;}
.col-85 {width: 85%;}
.col-80 {width: 80%;}
.col-75 {width: 75%;}
.col-70 {width: 70%;}
.col-66 {width: 66.7%;}
.col-60 {width: 60%;}
.col-50 {width: 50%;}
.col-55 {width: 55%;}
.col-45 {width: 45%;}
.col-40 {width: 40%;}
.col-33 {width: 33.3%;}
.col-30 {width: 30%;}
.col-25 {width: 25%;}
.col-20 {width: 20%;}
.col-15 {width: 15%;}
.col-10 {width: 10%;}
.col-8 {width: 8.33%}

.col-100, .col-90, .col-85, .col-80, .col-75, .col-70, .col-66, .col-60, .col-55, .col-50, 
.col-45, .col-40, .col-33, .col-30, .col-25, .col-20, .col-15, .col-10, .col-8 {float: left;}

ul, #site .list-unstyled, .list-unstyled {list-style: none; margin-left: 0;}
	ul li, #site .list-unstyled li, .list-unstyled li {padding-left: 0;}

main ul, .text-editor ul, ul.list-styled, ul.list-styled ul {
	margin: 0 0 1.5em 1.3em; padding-left: 0;
	list-style: disc; list-style-position: outside;
}
	main ul li, .text-editor ul li, ul.list-styled li {padding: 0; margin: 0 0 .3em;}
	main ul ul, .text-editor ul ul, ul.list-styled ul {margin-bottom: 0; list-style: circle;}

.list-inline > li {display: inline-block; margin: 0 .4em;}
.list-inline > li:first-child {margin-left: 0;}

ol {
	margin: 0 0 1.5em 2em; padding-left: 0;
	list-style-position: outside;
}
	ol ol {margin-bottom: 0;}

p {margin-bottom: 1.5rem;}

.form-control, .btn {border-radius: 0;}

.btn {position: relative;}

.btn-outline {border-width: 2px;}
.btn-outline.btn-lg {padding: 1rem}
.btn-primary {border-color: transparent;}
.btn-more {position: relative;}
.btn-more:before, .btn-more:after {
	content: ""; position: absolute; top: 50%; z-index: 1;
	display: block; border-style: solid;
}
.btn-more:before {
	right: 35px; width: 16px; height: 16px; margin-top: -8px;
	border-width: 2px 2px 0 0; transform: rotate(45deg);
}
.btn-more:hover:before {right: 25px;}
.btn-more:after {right: 33px; width: 0; height: 1px; margin-top: -1px; border-width: 0 0 2px; opacity: 0;}
.btn-more:hover:after {right: 23px; width: 24px; opacity: .9;}


.pdf {
	padding: .5em; padding-left: 2.5em; background-image: url(../img/icon-pdf.png); background-repeat: no-repeat; background-position: .5em 50%;
}

#site .fL, .fL {float: left;}	#site .fR, .fR {float: right;}	#site .cL, .cL {clear: left;}	#site .cR, .cR {clear: right;}	#site .cB, .cB {clear: both;}

hr {
	clear: both; position: relative; top: 24px;
	height: 1px; margin: 0 0 47px; 
	border-style: solid; border-color: rgba(0,0,0,.2); border-width: 1px 0 0;
}
hr.size-xxs {top: 3px; margin-bottom: 5px;}
hr.size-xs {top: 6px; margin-bottom: 11px;}
hr.size-s {top: 12px; margin-bottom: 23px;}
hr.size-l {top: 36px; margin-bottom: 71px;}
hr.size-xl {top: 48px; margin-bottom: 95px;}
hr.size-xxl {top: 72px; margin-bottom: 143px;}

.hide {display: none;}

/* :: Transitions :: */

#header a, .lang ul,
.site-nav a, .site-nav nav > ul > li > a:before, .btn, #header a, .side-nav a,
#site .nav-collapse:before, .form-control, 
.btn-more:before, .btn-more:after, .tabs a {
	transition: all .2s ease;
}

